<div class="container">
  <h2>Quản lý Department</h2>
  <div class="Card">
    <h3 class="card-header">Thông tin tìm kiếm</h3>
    <div class="card-body">
      <div class="row">
        <div class="col-4">
          <b>Từ khóa</b>
        </div>
        <div class="col-3">
          <b>Phòng ban</b>
        </div>
        <div class="col-3">
          <b>Chức vụ</b>
        </div>
        <div class="col-2">
          <b>Tìm kiếm</b>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <input
            type="text"
            id="nameSearch"
            class="form-control"
            placeholder="Nhập từ khoá tìm kiếm"
          />
        </div>
        <div class="col-3">
          <select id="roleSearch" name="role" class="operator form-control">
            <option value="">--- Mời lựa chọn ---</option>
            <option value="EMPLOYEE">Employee</option>
            <option value="ADMIN">Admin</option>
            <option value="MANAGER">Manager</option>
          </select>
        </div>
        <div class="col-3">
          <select
            id="departmentSearch"
            name="role"
            class="operator form-control"
          >
            <option value="">--- Mời lựa chọn ---</option>
            <option value="EMPLOYEE">Java</option>
            <option value="ADMIN">PHP</option>
            <option value="MANAGER">React</option>
          </select>
        </div>
        <div class="col-2">
          <button class="btn btn-primary" onclick="searchAccount()">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
