.ques-1-1{
    border: 1px solid green;
    margin: 70px 0px 70px 70px;
    /*
     */
}

.ques-2-1{
    border: 1px solid green;
    padding: 70px 0px 70px 70px;
    /*
     */
}

.ques-2-2{
    border: 3px solid red;
    
    /*
     */
}

.ques-2-3{
    border: 1px solid red;
    margin: 70px 0px 70px 70px;
    /*
     */
}

.ques-2-4{
    border: 1px solid red;
    padding: 70px 0px 70px 70px;
    margin: 0px 0px 70px 70px;
    /*
     */
}

.ques-1-2-1>div{
    border: 1px solid green;
}

#title-01{
    text-align: center;
   /* padding-left: auto;
    margin-right: auto;*/
}

.text-center{
    text-align: center;
}

.text-center-color{
   color: rebeccapurple;;
}

.margin-botton-title{
    margin-bottom: 50px;
}

.text-color-green{
    color: green;
}

.text-color-blue{
    color: blue;
}

.text-color-red{
    color: red;
}
.title-poen{
    color: purple;
    background-color: pink;
    margin: 20px 0px;
}

.content-type-1{
    color: blue;
    background-color: yellow;
}

.content-1{
    display: flex;
}

.iten-img{
    height: 30%;
}
.iten-content{
    width: 70%;
}

.header{
background-color: yellow;
height: 20vw;
}

.main{
min-height: 30Px;
display: flex;
}

.footer{
    background-color:  black;
    height: 5vw;
}

.menu{
background-color: red;
width: 30vw;
}

.content-2{
background-color: aliceblue;
width: 70Vw;
}

.content-3{
    display: flex;
}

.item-3{
    width: 30%; /*tương đương 1/3vw*/
    background-color: aqua;
    margin: 10px ;
}

.item-3>button{
    background-color: blue;
    color: white;
    margin-bottom: 15px;
    position: relative;
    float: right;
    padding: 5px;
}
