* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-text: #333;
    --nav: #e4e4e4;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1.6rem;
    color: var(--color-text);
}

.app {
    width: 100%;
    margin-right: 0 auto;
}

.container {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
}


.header-img {
    width: 100%;
    height: 50px;
    background : #333 ;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 0 16px;   
}

.header-right {
    margin-right: 50px;
    font-size: 1.8rem;
}

.header-logo {
    display: flex;
}

.header-center {
    display: flex;
    align-items: center;
    line-height: 50px;
    flex-grow: 1;
    margin-left: 30px;
}

.header-search {
    width: 430px;
    height: 33px;
    display: flex;
    background: #fff;
    position: relative;
}
.header-input {
    flex: 1;
    padding: 6px;
    border: none;
    outline: none;
    font-size: 1.7rem;
    color: #555;
}
.btn-search {
    padding: 10px;
    background: #fff;
    border: none;
    color: #333;
}

.btn-search>i {
    font-size: 1.4rem;
}

.btn-search:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

/* suggest-search */
.header-input:focus ~.suggest-search {
    display: block;
}

.suggest-search {
    position: absolute;
    left: 0;
    top: 34px;
    width: 100%;
    max-height: 375px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ebebeb;
    background-color: #fff;
    z-index: 20;
    display: none;
}

.suggest-search-item {
    display: flex;
    border-bottom: 1px solid #ebebeb;
    padding: 5px 0;
}

.suggest-search-item a {
    display: flex;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
}
.suggest-search-item a>div:first-child {
    width: 50px;
    height: 50px;
}
.suggest-search-item a img {
    width: 50px;
    height: 50px;
}

.suggest-search-content{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 5px;    
    overflow: hidden;
    text-overflow: ellipsis;
}
.suggest-search-content h3{
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 700;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.suggest-search-content p {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: #333;
    font-style: italic;
}

/*  */
.header-warp {
    display: flex;
    align-items: center;
    margin: 0 40px;
}

.header-lightbulb,.header-notification {
    color: #fff;
    font-size: 2.1rem;
    padding: 0 10px;
}
.header-lightbulb:hover,.header-notification:hover {
    cursor: pointer;
}

.header-left {
    display: flex;
    list-style: none;
    color: #fff;
}

.login>a, .register>a {
    font-size: 1.4rem;
    padding: 0 2px;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}

.login>a:hover, .register>a:hover {
    text-decoration: underline;
}

/* NAV */

.nav {
    position: sticky;
    top: -1px;
    width: 100%;
    height: 40px;
    background-color: var(--nav);
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

.hide-on-pc {
    display: none;
}
.nav-list{
    display: flex;
    line-height: 40px;
    margin-left: 16px;
}

.nav-item {
    display: block;
    list-style: none;
    position: relative;
}
.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-text);
    font-size: 1.4rem;
    display: block;
    padding:  0 20px;
    border-right: 1px solid #ddd;
}
.nav-link:hover {
    background: #fff;
}

.nav-item:hover .nav-sub-list {
    display: flex;
}
.nav-sub-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 600px;
    display: none;
    flex-wrap: wrap;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 0 0 6px 6px ;
    box-shadow: 0 3px 8px rgba(3,3,3,0.26);
    padding-bottom: 20px;
}

.nav-sub-item {
    list-style: none;
    width: 25%;
    padding-left: 15px; 
}

.nav-sub-link {
    text-decoration: none;
    color: var(--color-text);
    text-transform: capitalize;
}

.nav-sub-link:hover {
    color: #ae4ad9;
}

.button-nav {
    display: none;
}
.button-nav i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* content */

.main-body {
    background: #ebebeb;
}

.content {
    background-color: #f9f9f9;;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
}

.top-comic {
    padding-top: 10px;
}

.comic-title {
    font-size: 2.2rem ;
    font-weight: 400;
    color: #2980b9;
    padding-bottom: 10px;
}

.item-comic {
    position: relative;
}

.item-comic a {
    text-decoration: none;
}


.img-wrap-slide>img {
    width: 100%;
    height: 220px;
}

.comic-caption {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}
.comic-name{
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1.6rem;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.comic-chap-link {
    font-size: 1.4rem;
    padding-right: 22px;
}

.item-time{
    font-size: 1.2rem;
}
.comic-name, .comic-chap-link, .item-time {
    text-decoration: none;
    color: #fff;
}

/* comic-update */

.comic-update {
margin-top: 22px;
}

.img-wrap-update img {
    width: 100%;
    height: 200px;
}

.comic-info>h3 {
    display: -webkit-box;
    margin-bottom: 5px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;

}

.comic-update-name {
    font-size: 1.8rem;
    font-weight: 400;
    color: #000; 
}

.comic-update-name:hover {
    color: #03f;
}

.list-chapter {
    padding-top: 5px;
    list-style: none;
}

.item-chapter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
}

.item-chapter a {
    font-size: 1.4rem;
    color: #000;
}

.item-chapter a:hover {
    color: #03f;
}

.item-chapter p {
    font-style: italic;
    font-size: 1.2rem;
    color: silver;
}

/* pagination */
.pagination {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination-item.active {
    background-color: #00a5f0;
    color: #fff;
}
.pagination-item {
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: 2px;
    color: #999;
}

.pagination-item:hover {
    background: #eee;
    color: #23527c;
    cursor: pointer;
}


/* comic-follow */

.comic-follow {
    margin-bottom: 20px;
}
.box {
    border: 1px solid #ddd;
    padding: 10px;
}

.box h3 {
    color: #2980b9;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.box>p {
    font-size: 1.4rem;
}

/* comic-history */

.comic-history-title {
    display: flex;
    justify-content: space-between;
}

.comic-history-title a{
    font-style: italic;
    font-size: 1.4rem;
    text-decoration: none;
    color: #000;
}

.comic-history-title a:hover {
    color: #03f;
    text-decoration: underline;    
}

.item-history {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.history-img-wrap {
    width: 70px;
    height: 60px;
}

.history-img {
    width: 100%;
    height: 60px;
    object-fit: cover;
}

.history-content {
    flex: 1;
    margin: 0 10px;
    overflow: hidden;
}

.history-name {
    color: #000;
    font-size: 1.6rem;
    margin-bottom: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.history-chapter {
    color: silver;
    font-size: 1.4rem;
}
.history-erase {
    font-size: 1.4rem;
}

.history-name:hover,
.history-chapter:hover,
.history-erase:hover {
    color: #03f;
    cursor: pointer;
}


/* top-comic */

.box-top {
    margin-top: 20px;
    border: 1px solid #ddd;
}

.nav-top {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-top .active {
    background: #fff;
    border-top: 2px solid #721799;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background: #f9f9f9;
}
.nav-top li {
    flex: 3.3333%;
    text-align: center;
    padding: 10px 10px;
    background: #ecf0f1;
}

.nav-top li:hover {
    cursor: pointer;
    border-top: 2px solid #721799;
    background: #f9f9f9;
}
.top-rank {
    font-size: 2rem;
    padding: 0 8px;
}

.rank-1 {
    color: #3498db;
}

.rank-2 {
    color: #27ae60;
}
.rank-3 {
    color: #d35400;
}
.rank-4 {
    color: #3b3b3b;
}

.top-day {
    padding: 10px 10px;
}

.top-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #EAEAEA;
}

.top-item:last-child{
    border: none;
}

.top-wrap {
    display: flex;
    overflow: hidden;
    flex: 1;
}

.top-img-wrap {
    width: 55px;
    height: 45px;
}
.top-img-wrap:hover {
    cursor: pointer;
}

.top-img-wrap img {
    width: 100%;
    height: 45px;
}

.top-content {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
}

.top-name {
    color: #000;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-name:hover,
.top-chapter:hover {
    color: #03f;
    cursor: pointer;
}
.top-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-chapter {
    font-size: 1.4rem;
}
.top-bottom i {
    font-size: 1rem;
    color: #666;
    padding-right: 3px;
}

.top-bottom i span {
    padding-left: 3px;
}

/* footer */

.footer {
    background-color: #222;
    height: 300px;
    padding-top: 20px;
    color: #fff;
}


.key-title {
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 20px;
}

.key-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.key-item {
    font-size: 1.4rem;
    border: 1px solid #fff;
    padding: 4px 10px;
    border-radius: 5px;
    margin: 0 5px 10px 0;
}

/* slick-slider */

.slick-prev,.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}
.slick-prev {
    left: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #f3f1f0;
    opacity: 0.5;
}
.slick-next {
    right: 20px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #f3f1f0;
    opacity: 0.5;
}
.slick-prev:hover,.slick-next:hover {
    opacity: 0.8;
    cursor: pointer;
}

.main-body{
    background: #474D5D;
    padding-top: 20px;
}

#button-themmoi {
    position: inherit;
    right: 13%;
    left: 505%;
    top: 0px;
    bottom: 3px;
}

  .header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
  }
  .header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
  }
  
  .header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
  }
  
  .header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
  }
  
  .header__navbar-user:hover .header__navbar-user-menu {
    display: block;
  }
  
  .header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    z-index: 1000;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    background-color:white;
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    color: black;
  }
  
  .header__navbar-user-menu::after {
    position: absolute;
    right: 0;
    top: -16px;
    width: 56%;
    height: 20px;
    content: "";
    display: block;
  }
  
  .header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  
  .header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
  }
  
  .header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  
  .header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  .header__navbar-user-item a:hover {
    background-color: #e8e8e8;
  }
  
  .header__navbar-item,
  .header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
  }
  
  .header__navbar-item,
  .header__navbar-item-link,
  .header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
  }
  
  .header__navbar-item:hover,
  .header__navbar-icon-link:hover,
  .header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
  }
  
  .header__navbar-item--strong {
    font-weight: 400;
  }
  
  .header__navbar-item--separate:after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    border-left: 1px solid #fb9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
  }
  
  .header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
  }
  
  .header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
  }
  
  .header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
  }

  .home-novels-pagination {
    margin: 48px 0 32px 0;
    padding-left: 0;
  }

  .header__mobile-search-icon{
    font-size: 2.6rem;
    color: var(--white-color);
  }

  .pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
  }
  
  .pagination-item--active .pagination-item__link:hover{
    filter: brightness(110%);
  }
  
  .pagination-item__link{
    --height: 30px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    display: block;
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.img-name-novels{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 25px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 12px;
    display: block;
    color: #fff;
    background-color: #000;
    opacity: .65;
}

.form-control-lg:hover {
    border: 1px solid black;
    box-shadow: 0 0 0 0.2rem rgba(142, 131, 241, 0.25);
} 
