p{
    color: red;
     background-color: aqua;
}

#demo-1{
    color:black;
}

.demo-2{
    color:black;
    background-color:chartreuse;
}

.demo-2:hover{
   color:black;
    background-color:rgb(90, 69, 97);
}

div p{
    color: black;
}

*{
    color:brown;
}